on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: Jtreg Plugin Build
    runs-on: ubuntu-latest
    env:
      JAVA_OPTS: -Xmx4096m -XX:ReservedCodeCacheSize=512m
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build      
