on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: Jtreg Plugin Build
    runs-on: ubuntu-latest
    env:
      JAVA_OPTS: -Xmx4096m -XX:ReservedCodeCacheSize=512m

    strategy:
      fail-fast: false
      matrix:
        idea-version: [ "2024.1", "2024.1.7", "2024.2", "2024.2.6", "2024.3", "2024.3.7", "2025.1", "2025.1.6", "2025.2", "2025.2.2", "2025.2.3" ]


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: jetbrains
          java-version: 21

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew buildPlugin --no-daemon

      - name: Test with IDEA ${{ matrix.idea-version }}
        run: ./gradlew -PideaVersion=${{ matrix.idea-version }} -x buildPlugin -x assemble -x jar test --no-daemon
